<%- include("partials/header"); -%>

    <h1>Home</h1>
    <p><%= scontent %></p>

    <% titles.forEach(function(item){ %>
        <h1><%= item.name %></h1>
        <p><%= item.content.substring(0, 150)+" ... " %><a href="/posts/<%= item._id %>">Read more</a></p>
    <% }) %>

<%- include("partials/footer"); -%>